
[MESSAGES CONTROL]

# Disable the message(s) with the given id(s).
# C0302 - Too many lines in module.
# R0901 - Too many ancestors. We have no control over wxPython hierarchy
# R0902 - Too many instance attributes.
# R0903 - Too few public methods. This warning seems less-than-useful
# R0904 - Too many public methods. Why even have this message?
# R0913 - Too many arguments.
# W0142 - Using * or ** magic. This used often in wxPython
# W0221 - Arguments differ from overridden method. wxPython uses (*args, **kwargs) for
#         all methods, but we want to name our parameters explicitly
# W0704 - Except doesn't do anything. We catch and ignore some exceptions
disable-msg=C0302, R0901, R0902, R0903, R0904, R0913, W0142, W0221, W0704


[BASIC]

# Regular expression which should only match functions or classes name which do
# not require a docstring
no-docstring-rgx=_.*

# Regular expression which should only match correct module names
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z_][a-zA-Z0-9_]+))$

# Regular expression which should only match correct class names
class-rgx=[A-Z][a-zA-Z0-9]+$

# Regular expression which should only match correct function names
function-rgx=[a-zA-Z_][a-zA-Z0-9]*$

# Regular expression which should only match correct method names
method-rgx=[a-zA-Z_][a-zA-Z0-9]*|(__.*__)$

# Regular expression which should only match correct instance attribute names
attr-rgx=[a-z][a-zA-Z0-9]{2,30}$

# Regular expression which should only match correct argument names
argument-rgx=[a-z][a-zA-Z0-9]{2,30}$

# Regular expression which should only match correct variable names
variable-rgx=[a-z][a-zA-Z0-9]{1,30}$

# Good variable names which should always be accepted, separated by a comma
good-names=dt, ex, i, j, k, pt, r, s, x, dc, lv

# Bad variable names which should always be refused, separated by a comma
bad-names=foo, bar, baz, toto, tutu, tata

# List of builtins function names that should not be used, separated by a comma
bad-functions=map, filter, apply, input

[REPORTS]

# set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=parseable

# Include message's id in output
include-ids=yes

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=110

[VARIABLES]

# A regular expression matching names used for dummy variables (i.e. not used).
dummy-variables-rgx=_|dummy|ignored

[CLASSES]

# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods=__init__, __new__, SetParameters
